@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Outfit:wght@100..900&display=swap");

* {
	box-sizing: border-box;
}
pre {
	overflow: auto;
	color: #404040;
	white-space: pre-wrap; /* Optional: wraps long lines instead of scrolling horizontally */
	word-wrap: break-word; /* Optional: breaks long words to prevent overflow */
}
.font-alata {
	font-family: "Alata";
}

.font-outfit {
	font-family: "Outfit";
}

.heroBg {
	background-image: url(../src/assets/heroBg.svg);
	background-repeat: no-repeat;
	background-size: contain;
}
.textGradient {
	background: linear-gradient(90deg, #798616 70.5%, #06cb5d 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
h1 {
	font-family: Alata;
	font-size: 70px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: -4.9px;
}
h2 {
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: -0.32px;
}
p {
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -0.32px;
}

.transition-color {
	transition: color 0.3s ease-in-out;
}

@keyframes slideFadeIn {
	0% {
		opacity: 0;
		transform: translateY(0px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slideFadeOut {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		transform: translateY(0px);
	}
}

.slide-fade-in {
	animation: slideFadeIn 1s ease-out forwards;
}

.slide-fade-out {
	animation: slideFadeOut 1s ease-out forwards;
}

/* Add this to your CSS or tailwind configuration */
#block:hover div {
	opacity: 1;
}
